AWS_ACCESS_KEY_ID=...04a6
AWS_SECRET_ACCESS_KEY=...b0a5
AWS_DEFAULT_REGION=RegionOne
GBIF_HOME=/media/volume/sdb
taxonomy_home=/media/volume/sdb/gbif_taxonomy
REDIS_URL=redis://...
S3_BUCKET=ednaexplorer_staging